/** Configuring background color and NAV-BAR ******************/

@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");

body {
    background-color: white;
     color: #797e83;
  font-size: 16px;
    margin: 0;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5; 
    

}
* {
    box-sizing: border-box;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none; 
}

a {
  color: #656a6e;
  text-decoration: none;
  font-weight: 400; 
}

.nav_container {
    
    background-color: white;
    
    width: 100%;
    margin: auto;
    
}



.main-header,
.nav {
    display: flex; 
    flex-direction: column;
    
}

.main-header {
    padding-top: 1em;
}

.site-logo {
    font-size: 2em;
    font-weight: bolder;
    width: 100px;
    text-align: center;
    align-self: center;
}

.site-logo:hover {
    text-decoration: none;
}

.nav {
    margin-top: 1.5em;
}

.nav a {
    display: block;
    color: #797E83;
    font-size:1em;
    font-weight: 700;
    text-align: center;
    padding: .4em;
    border-bottom: 1px solid #ebecec;
}

.nav li:hover {
    background-color: transparent;
}

.nav a:hover {
    color: #0b0b0b;
    border-bottom: 2px solid white;
}

.nav>li>a:focus, 
.nav>li>a:hover {
    background-color: transparent;
}







.row_grey {

    margin-top: -15px;
        height: 252px;
    background-color: #f3f3f3;

}
.row_white {
    margin-top: -15px;
    height: 202px;
    background-color: #fff;

}

.tall_row_grey {
    height: 552px;
    background: linear-gradient(to bottom,  #f3f3f3 0%,#f3f3f3 20%,#fff 20%,#fff 100%);
   /* background-color: #fff;*/
}

.inner_wrapper {
    height: 450px;
    z-index: 100;
    background-color: transparent;
}


.slide_image {
    margin-top: 30px;
    height: 367px;
    width: 770px;
}

.contents_description_slider {
    margin-top: 160px;
    color:  #333;
    font-size: 1.2em;
    font-weight: bold;
}

.dots {
    margin-top: -230px;
    list-style-type: none;
}

.slide_dots {
    height: 10px;
    width: 10px;
    float: left;
    display: block;
    border-radius: 50%;
    cursor: pointer;
    background-color: black;
    margin-right: 15px;
}











.liquid-content-container {
    margin-top: 50px;
}

.liquid-content-container-right {
    margin-top: 50px;
}

.spaced_less {
     letter-spacing: .08em;
    color: #333;
    font-weight: normal;
    line-height: 2em;
}

.spaced {
    letter-spacing: .25em;
    color: #333;
    font-weight: bold;
}





@media (min-width:769px) {

    .main-image {
    height: 350px;
    background: 
    
        url('../images/IMG_1337.jpg');
    background-size: cover;
    border-bottom: 4px solid #c2dde6;
    
    }

    .main-header {
        height:200px;
        justify-content: flex-end;
    }
    
    .site-logo {
        width: 100px;
    }
    
    .nav {
        margin-top: 3em;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .nav a {
        border-bottom-color: transparent;
    }

    .nav a:hover {
    color: #0b0b0b;
    border-bottom: 2px solid white;
}

    .nav>li>a {
        padding-top: 7px;
        padding-bottom: 40px;
    }

    .greeting_word:first-child {
    
        margin-left: 70px;
        margin-bottom: 50px;
        width: 25%;
    }

.greeting_word:nth-child(2) {
   
    margin-bottom: 50px;
    margin-left: 70px;
    width: 30%;
}

.greeting_word:nth-child(3) {
    
    margin-left: 70px;
    width: 25%;
}

.greeting_letter {
    padding-top: .2em;
}


}







@media (min-width:1025px) {
    
    .nav_container {
    height: 100px;
    position: fixed;
    z-index: 100;
}

    .main-header {
        height: 80px;
        flex-direction: row;
    }
    .site-logo {
        margin-right: auto;
        margin-left: 40px;
    }
    .nav {
        align-self: center;
        margin-top: 0;
    }
    .nav li {
        margin-left: .65em;
        margin-right: .65em;
    
        letter-spacing: .26px;
        text-align: center;
       
        align-self:center;
    }

    .nav>li>a {
        padding-top: 67px;
    padding-bottom: 40px;
    }

    .nav a:hover {
    color: #0b0b0b;
    border-bottom: 2px solid white;
}

    .main-image {
    height: 350px;
    background: 
    
        url('../images/IMG_1337.jpg');
    background-size: cover;
    border-bottom: 4px solid #c2dde6;
    
    }

    .greeting_word:first-child {
    padding-left: 100px;
    margin-bottom: 50px;
    width: 30%;
}

.greeting_word:nth-child(2) {
    padding-left: 160px;
    margin-bottom: 50px;
    width: 50%;
}

.greeting_word:nth-child(3) {
    padding-left: 130px;
    width: 25%;
}

.greeting_letter {
    padding-top: .2em;
}

}
/** Main greeting page ******************/



.main-greeting {
    padding-top: 100px;
}
.greeting_word {
    background: black;
    display: block;
    height: 1.5em;
    font-weight: bold;
    font-family: 'Varela Round', sans-serif;
}
.greeting_letter {
    font-size: 1em;
    color: azure;
    display: inline-block;
    transition:0.4s ease-in-out;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform:translateY(-5%);

  }
  5% {
    -webkit-transform:translateY(-30%);
 
  }
  15% {
    -webkit-transform:translateY(-20%);

  }
  30% {
    -webkit-transform:translateY(-10%);
  }
  40% {
    -webkit-transform:translateY(-5%);
    
  }
  50% {
    -webkit-transform:translateY(-5%);
  }
  70% {
    -webkit-transform:translateY(0%);
  
  }
  80% {
    -webkit-transform:translateY(-2%);
  }
  90% {
    -webkit-transform:translateY(-1%);
    
  }
  95% {
    -webkit-transform:translateY(0%);
  }
  97% {
    -webkit-transform:translateY(1%);
    
  }
  99% {
    -webkit-transform:translateY(2%);
  }
  100% {
    -webkit-transform:translateY(0);
  }
}

.greeting_word .greeting_letter:hover {
    -webkit-animation: bounce 1500ms ease-in-out;
}

.secondary-contents {
    height: 500px;
    
}

.info-box,
.info-box2 {
    height: 500px;
    overflow: hidden;
    position: relative;
    
}

.info-box:first-child {
    width:65%;
    background: linear-gradient(#bccbde, transparent 90%),url('../images/IMG_1755.jpg');
    float: left;
    background-size: cover;
    margin-bottom: 0px;

}

.info-box:nth-child(2) {
    width: 35%;
    background: #431c5d;
    float: right;
    background-size: cover;
}


.info-heading {
    margin-top: 12%;
    margin-left: 15%;
    padding-left: 10px;
    padding-right: 0px;
    width: 66%;
    color:#cdd422;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow:6px 6px 0px rgba(0,0,0,1);
    font-size: 3em;
    border: 3px solid white;
}

.info-content {
    margin-top: 12%;
    margin-left: 15%;
    padding-left: 10px;
    
    width: 70%;
    color:#cdd422;
    font-weight: normal;
    text-shadow:3px 3px 0px rgba(0,0,0,1);
    font-size: 1.5em;
}


.info-box2:first-child {
    width: 35%;
    background: #431c5d;
    float: left;
}

.info-box2:nth-child(2) {

    width:65%;
    background: linear-gradient(#bccbde, transparent 90%),url('../images/IMG_0199.jpg');
    float: right;
    background-size: cover;
    margin-bottom: 0px;
}

#left_arrow {
    font-size: 3em;
    background: transparent;
    color: #bccbde;
    margin-top: 420px;
    margin-left: 43%;
    padding-left: 20px;
}


#right_arrow {
    font-size: 3em;
    background: transparent;
    color: #bccbde;
    margin-top: 420px;
}

/*Carousel Effects*/




/*****SEARCH PAGE ******************************/
.search-page {
    width: 100%;
    height: 550px;
    line-height: 4em;
}

#custom-heading {
    font-family: "Brush Script MT", cursive;
    font-size: 4em;
    color: azure;
}
.search-heading {

    margin-left: 30%;
    margin-top: 180px;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    display: block;
}

.search-body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: bold;
    color: #cdd422;
    font-size: 1.2em;
    margin-left: 20%;
    margin-top: 50px;
   

}

#custom-bottom-border {
    border-bottom: 2px solid white;
    position: absolute;
    right:50%;
    top: 0%;
    margin-left: 30%;
    margin-top: 200px;
}

#line1{
    margin-top: 10px;
    margin-left: 10%;
}

#line2 {
    margin-left: 240px;
    margin-top: 30px;
   
}

#line3 {
    margin-top: 35px;
    margin-left: 150px;

}

.search_input_type {
    background-color: rgba(39, 44, 44, 0.9); 
    border:none;
    text-align: center;
    height: 80px;
    margin-left: 10px;
    margin-right: 10px;

}

#line2-1 {
    height: 50px;
    width: 80px;
    float: left;
    display: inline-block;
    

}

#line2-2 {
    height: 50px;
    margin-left: 20px;
    display: inline-block;

}


#line3-1 {
    height: 50px;
    margin-right: 20px;
    display: inline-block;
}

.search_input_type::-webkit-input-placeholder {
    text-align: center;
}

#search_btn {
    background-color: #cdd422;
    color: #431c5d;
    font-weight: bold;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    margin-left: 30%;
    margin-top: 20px;
    height: 50px;
    font-size: 1.2em;
}


/* Dropdown Button */
/******** Search Result ******************/



/******** FOOTER CSS ******************/
.main-footer {
    height: 100px;
    width: 100%;
    margin-top: 0px;
    background-color: #cdd422;
}

























.navbar.navbar-fixed-top.navbar-overlay {
    background: white;
    padding-bottom: 20px;

}
.navbar-brand {
    color: #6b7A8F;
    position: fixed;
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 40px;
}
.nav.navbar-nav.navbar-right {
    margin-left: 0px;
    margin-right: 100px;
    margin-top: 15px;
    margin-bottom: 0px;
    font-size: 30px;
}

#list-item {
    background-color: black;
}
.nav.navbar-nav.navbar-right a:hover {
    text-decoration: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
}




.glyphicon.glyphicon-envelope {
    margin-right: 5px;
    margin-bottom: 8px;
}

/* main.html */
#about_heading {
    margin-top: 400px;
    background: rgba(0,0,0,0.4);
    color: cornsilk;
    font-size: 70px;
}

#about_heading_small {
    font-size: 40px;
    background: rgba(0,0,0,0.4);
    color: cornsilk;
}

#about_heading2 {
    margin-top: 380px;
    background: rgba(0,0,0,0.4);
    color: cornsilk;
    font-size: 40px;
}

#about_heading_small2 {
    font-size: 28px;
    background: rgba(0,0,0,0.4);
    color: cornsilk;
}

#about_heading3 {
    margin-top: 380px;
    background: rgba(0,0,0,0.4);
    color: cornsilk;
    font-size: 40px;
}

#about_heading_small3 {
    font-size: 28px;
    background: rgba(0,0,0,0.4);
    color: cornsilk;
}

.aboutSection {
    height: 750px;
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutSection2 {
    margin-top: 50px;
    height: 500px;
    width: 900px;
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutSection3 {
    margin-top: 50px;
    margin-left: 400px;
    height: 500px;
    width: 900px;
    background-repeat: no-repeat;
    background-size: cover;
}










html, body {
    margin: 0;
    padding: 0;
    
}


#container {
    min-height: 100%;
    position: relative;
    background: #EFEFEF;
}
.container-fluid {
    padding-top: 102px;
}








.infoBox {
    background: rgba(255,255,255,0.4);
    height: 200px;
    width: 600px;
    padding: 15px;
}










/* CSS for Search_results */
.transition {
    -webkit-transform: scale(1.6); 
    -moz-transform: scale(1.6);
    -o-transform: scale(1.6);
    transform: scale(1.6);
}

.panel_backgournd {
    background-color: rgba(0,0,0,0.3);
}

img {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
}










/* Commonly Used */
.button_selected {
    background-color: blue;
}


.fixed-panel {
  min-height: 10;
  max-height: 10;
  overflow-y: scroll;
}




.clearfix::after {
        content: " ";
        display: table;
        clear: both;
    }
