<!-- main.html for tourist and in general -->
{% extends "tourist/tourguide_base.html" %}
{% load staticfiles %}
{% block body_block %}

<div class="row">
<div class='main-conents'>
    <div class='main-image'>
        <h2 class='main-greeting'>
            <span class="greeting_word">
                <span class="greeting_letter">E</span>
                <span class="greeting_letter">X</span>
                <span class="greeting_letter">P</span>
                <span class="greeting_letter">L</span>
                <span class="greeting_letter">O</span>
                <span class="greeting_letter">R</span>
                <span class="greeting_letter">E</span>
            </span>

            <span class="greeting_word">
                <span class="greeting_letter">L</span>
                <span class="greeting_letter">O</span>
                <span class="greeting_letter">C</span>
                <span class="greeting_letter">A</span>
                <span class="greeting_letter">L</span>
                <span class="greeting_letter">&nbsp</span>
                <span class="greeting_letter">C</span>
                <span class="greeting_letter">I</span>
                <span class="greeting_letter">T</span>
                <span class="greeting_letter">I</span>
                <span class="greeting_letter">E</span>
                <span class="greeting_letter">S</span>

            </span>


            <span class="greeting_word">
                <span class="greeting_letter">T</span>
                <span class="greeting_letter">O</span>
                <span class="greeting_letter">D</span>
                <span class="greeting_letter">A</span>
                <span class="greeting_letter">Y</span>
                <span class="greeting_letter">!</span>
            </span>
        </h2>
    </div>
</div>
</div>



<!-- this is where secondary contents start -->

<div class="secondary-contents clearfix">

    <div class="info-box">
        <div class="arrow-wrapper">
            <div class="arrow-head-left">&lt</div>
            <div class="arrow-stem-left"> </div>
        </div>
    </div>


    <div class="info-box">
        <div class="info-text">
            <p class="info-heading">Meet locals</p>
            <p class="info-content">Have a customzied tours, and explore parts of city that internet can't offer<p>
        </div>
    </div>
</div>


<div class="secondary-contents clearfix">
    <div class="info-box2">
        <div class="info-text">
            <p class="info-heading">Meet locals</p>
            <p class="info-content">Have a customzied tours, and explore parts of city that internet can't offer<p>
        </div>
    </div>
    <div class="info-box2">
        
    </div>
</div>






{% endblock %}