<!-- main.html for tourist and in general -->
{% extends "tourist/tourguide_base.html" %}
{% load staticfiles %}
{% block body_block %}

<div class="row">
<div class='main-contents'>
    <div class='main-image'>
        <h2 class='main-greeting'>
            <span class="greeting_word">
                <span class="greeting_letter">E</span>
                <span class="greeting_letter">X</span>
                <span class="greeting_letter">P</span>
                <span class="greeting_letter">L</span>
                <span class="greeting_letter">O</span>
                <span class="greeting_letter">R</span>
                <span class="greeting_letter">E</span>
            </span>

            <span class="greeting_word">
                <span class="greeting_letter">L</span>
                <span class="greeting_letter">O</span>
                <span class="greeting_letter">C</span>
                <span class="greeting_letter">A</span>
                <span class="greeting_letter">L</span>
                <span class="greeting_letter">&nbsp</span>
                <span class="greeting_letter">C</span>
                <span class="greeting_letter">I</span>
                <span class="greeting_letter">T</span>
                <span class="greeting_letter">I</span>
                <span class="greeting_letter">E</span>
                <span class="greeting_letter">S</span>

            </span>

            <span class="greeting_word">
                <span class="greeting_letter">T</span>
                <span class="greeting_letter">O</span>
                <span class="greeting_letter">D</span>
                <span class="greeting_letter">A</span>
                <span class="greeting_letter">Y</span>
                <span class="greeting_letter">!</span>
            </span>
        </h2>
    </div>
</div>
</div>



<div class="row_grey">
    <div class="content_row">
        <div class="col-md-2 col-md-offset-1">
            <div class="liquid-content-container">
                <h4 class='spaced'>OUR STORY</h4>
            </div>
        </div>

        <div class="col-md-6 col-md-offset-1">
            <div class="liquid-content-container-right">
                <h4 class='spaced_less'>Venture is an online community of people around the world who like adventures, meeting new people from different parts of the world, and discovering uncharted parts of the world. </h4>

                <p class='spaced'><strong>+</strong> Discover more </p>
                <!-- http://jsfiddle.net/ThinkingStiff/EVyE8/   USE THIS CODE FOR THE DESIRED EFFECTS -->
            </div>
        </div>
    </div>
</div>



<div class="tall_row_grey">
    <div class="inner_wrapper">
        <div class="row">
            <!-- Image and moving cpation here -->

            <div class="col-md-7 col-md-offset-1">
                <img class="slide_image" src="/static/images/IMG_0199.jpg" />
            </div>

            <div class="col-md-3"> 
                <div class="contents_description">
                    <p></p>
                    <div class="contents_description_slider">
                        <div class="words_description">
                            "You will received a guided tour by a local tourguide. Local tourguides are people like you! Local tour guides have been living in the city for a while, and they can take you to places that Google or Tripadvisor can't take you. You don't need to plan to have an awesome trip!"
                        </div>

                        <div class="words_description">
                            "You can also decide to have a tour with other tourists in town. Meet other tourist from all around the world. Meet not only the local tourguides but also tourist from different parts of the world. You will make great friends!"
                        </div>

                        <div class="words_description">
                            "Interested in arts? history? sports? outdoor activities? You can custom search your tour and receive a tour with themes. If you like Art, search with Art filter. It is very likely that your local tourguide will take you to all the art museums in the area!"
                        </div>



                        <ul class="dots">
                            <li class="slide_dots"></li>
                            <li class="slide_dots"></li>
                            <li class="slide_dots"></li>
                        <ul>

                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<div id="row_grey_second">
        <div class="stories">
            <div class="col-md-8 col-md-offset-1">
                <div class="sotries-container">
                    <h4 class='spaced'>WHAT PEOPLE ARE SAYING ABOUT THEIR TOURS</h4>
                </div>
            </div>
        </div>



        <!-- User Story -->

        <div class="user-story">

            <div class="col-md-4 col-md-offset-1 user-image">
                <img src = "/static/images/user1.jpg" class="user_experience_pic" />
            </div>

            <div class="col-md-6">
                <h4 class='spaced_less'>
                "Hi my name is Jun. L’état du quatrième pompier, dont les brûlures étaient moins graves que celles des trois autres, a connu une « évolution favorable », a ajouté Jérôme Bonnafoux, « qui devrait permettre très bientôt son transfert de l’unité de surveillance continue vers un service d’hospitalisation classique pour poursuivre les soins"
                </h4>
            </div>

        </div>

        <div class="user-story">

            <div class="col-md-4 col-md-offset-1 user-image">
                <img src = "/static/images/user2.jpg" class="user_experience_pic" />
            </div>

            <div class="col-md-6">
                <h4 class='spaced_less'>
                "Hi my name is Mark. L’état du quatrième pompier, dont les brûlures étaient moins graves que celles des trois autres, a connu une « évolution favorable », a ajouté Jérôme Bonnafoux, « qui devrait permettre très bientôt son transfert de l’unité de surveillance continue vers un service d’hospitalisation classique pour poursuivre les soins"
                </h4>
            </div>

        </div>
</div>



<script>


//Scripts for changing text box

var slide_index = 0;

$(document).ready(function carousel() {

    //text_slides hold three variables
    var text_slides = document.getElementsByClassName("words_description");
    var dot_slides = document.getElementsByClassName("slide_dots")
    //first display nothing
    for (var i = 0; i < text_slides.length; i++) {
        text_slides[i].style.display = "none";
        dot_slides[i].style.background = "white"
    }

    slide_index++;
    if (slide_index > text_slides.length) {slide_index = 1} 
    text_slides[slide_index-1].style.display = "block"; 
    dot_slides[slide_index-1].style.background = "black";

    setTimeout(carousel, 6000); // Change image every 2 seconds

});












</script>





{% endblock %}