<!-- update preference section -->
<!-- profile.html -->
{% extends "tourist/tourguide_base.html" %}
{% block body_block %}

<div class="container-fluid" style="padding-top:30px;">
    <div class='row'>
        <div class="col-sm-2 sidebar col-sm-offset-1">
            <ul class="nav nav_sidebar">
                <li class="active"> <a href="/tourist/profile/">Edit profile</a></li>
                <li><a href="/tourist/profile_preference/">Edit preferences</a></li>
                <li><a href="#logout">Log out</a></li>
            </ul>
        </div>

        <div class="col-sm-7 col-sm-offset-3">
            <h2>Edit your preference here (not yet implemented)</h2>
        </div>
    </div>
</div>




{% endblock %}