<!-- search -->
{% extends "tourist/tourguide_base.html" %}
{% block body_block %}

<style>

/*This changes so that input form only had bottom border */
#search_input {
    
    position:relative;
    top:100px;
    right:5px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid transparent;
    width: 800px;
    height: 60px;
    font-size: 50px;
    color: #B56357;
}


.drop {
    /*height: 80px;*/
    background-color: rgba(39, 44, 44, 0.9); 
    border:none;
    text-align: center;
    width: 100px;
    display: inline-block;
}

.drop:hover {
    cursor: pointer;
}

.drop:last-child {
    width: 200px;
}
#TESTING {
    display: none;
}
</style>




<div class="search-page">
    <div class='main-image-search'>
        <h4 class='search-main-heading spaced'> Hey there, ready for your tour? </h4>
    </div>



</div>


<div class="search-body-container">
<!-- Try to make my own custom dropdown menu!! with Aweseom colors -->
    <form method='GET' action='/tourist/search/'>
    
        <h4 id="search_heading" class="spaced"> SEARCH TOURS. </h4>


        <p id="line1">I want to explore 
            <input class="search_input_type" type='text' name='q' placeholder="Cityname" value='{{ request.GET.q }}'> </input> 

            on 
            <input class="search_input_type" type='text' placeholder='Day/Month/Year'> &nbsp.Oh did I mention?</p>



        <p id="line2">I would

            <input class="search_input_type" type='text' name='preference' placeholder="Like to" value='{{ request.GET.preference }}'> </input> 
        <!-- <div id="target" class="drop Like">Like to</div> -->
         (like to or not like to) meet other tourist. And, 
         </p>

        <p id="line3"> I will be wearing 
            <!-- <div id="shoes_menu" class="drop Like active"><span class='drop-item'>Pick your shoes</span></div> -->

            <input class="search_input_type" type='text' name='preference' placeholder="Sandals" value='{{ request.GET.preference }}'> </input> 
        (Sandas, Regular Shoes, Gym Shoes, or Hiking shoes) 

        </p>

        <button href='/tourist/search/results' id='search_btn' class="btn btn-large" aria-hidden="true" type='submit' >Submit</button>
    </form>

    <!-- List of Popular Tours on Carousel effects -->
    <!-- Image will appear soomthly and stay for three seconds, and different tours will appear -->
    <div class="popular-tours">
        <div class="col-sm-2">
            POPULAR TOUR IMAGE

            Image will appear soomthly and stay for three seconds, and different tours will appear
        </div>

        <div class="col-sm-2">
            Popular tour decsiprtion
        </div>

        <div class="col-sm-2">
            POPULAR TOUR IMAGE
        </div>

        <div class="col-sm-2">
            Popular tour decsiprtion
        </div>

        <div class="col-sm-2">
            POPULAR TOUR IMAGE
        </div>

        <div class="col-sm-2">
            Popular tour decsiprtion
        </div>

    </div>






</div> <!-- end of search body container-->













<script>


$("#target").click(function() {

    if($(this).hasClass("Like")) {
        $(this).text("Not like to");
        $(this).removeClass("Like");
    }

    else {
        $(this).text("Like to");
        $(this).addClass("Like");
    }
});


//JavaScript function

$(document).on('click', '.drop-item', function () {
    
    if($("#shoes_menu").hasClass('active')) {
        $("#shoes_menu").html("<span id='c1' class='drop-item'>Sandals</span> &nbsp <span class='drop-item'>Regular shoes</span> &nbsp <span class='drop-item'>Gym Shoes</span> &nbsp <span class='drop-item'>Hiking Shoes</span>")
        $("#shoes_menu").children().css("border","solid 1px white");
        $("#shoes_menu").children().css("padding","5px");
        $("#shoes_menu").css("width", "500px");
        $("#shoes_menu").removeClass("active");
    }

    else {
        $
        var user_choice = $(this).html();
        var user_choice_html = "<span class='drop-item'>" + user_choice + "</span>";
        $("#shoes_menu").css("width", "");
        $("#shoes_menu").html(user_choice_html);
        $("#shoes_menu").addClass("active");
        
    }
    // your function here
});





</script>



 

{% endblock %}