<!-- search -->
{% extends "tourist/tourguide_base.html" %}
{% block body_block %}

<style>

/*This changes so that input form only had bottom border */
#search_input {
    
    position:relative;
    top:100px;
    right:5px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid transparent;
    width: 800px;
    height: 60px;
    font-size: 50px;
    color: #B56357;
}


.drop {
    /*height: 80px;*/
    background-color: rgba(39, 44, 44, 0.9); 
    border:none;
    text-align: center;
    width: 100px;
    display: inline-block;
}

.drop:hover {
    cursor: pointer;
}

.drop:last-child {
    width: 200px;
}
#TESTING {
    display: none;
}
</style>




<div class="search-page">
    <div class='search-heading'>
        <p id="custom-heading"> Hey there, ready for a tour? </span>
        <div id="custom-bottom-border"> </div>
    </div>



<!-- Try to make my own custom dropdown menu!! with Aweseom colors -->
<form method='GET' action='/tourist/search/'>
    <div class='search-body'>
        <p id="line1">I want to explore 
            <input class="search_input_type" type='text' name='q' placeholder="cityname" value='{{ request.GET.q }}'> </input> 

            on 
            <input class="search_input_type" type='text' placeholder='day/month/year'> &nbsp.Oh did I mention?</p>



        <div id="line2"> <span id="line2-1">I would</span> 

            <input class="search_input_type" type='text' name='preference' placeholder="Like to" value='{{ request.GET.preference }}'> </input> 
        <!-- <div id="target" class="drop Like">Like to</div> -->



         <span id="line2-2">(like to or not like to) meet other tourist. And, </span></div>


        <div id="line3">
        <p id="line3-1">I will be wearing </p>
            <!-- <div id="shoes_menu" class="drop Like active"><span class='drop-item'>Pick your shoes</span></div> -->

            <input class="search_input_type" type='text' name='preference' placeholder="Sandals" value='{{ request.GET.preference }}'> </input> 
        <p id="line3-1">(Sandas, Regular Shoes, Gym Shoes, or Hiking shoes) </p>

        </div>

        <button href='/tourist/search/results' id='search_btn' class="btn btn-large" aria-hidden="true" type='submit' >Find Me</button>
    </div>

</form>



        <!-- <form method='GET' action='/tourist/search/'>
            <input id='search_input' type='text' name='q' placeholder='Explore a city' value='{{ request.GET.q }}'/>
            <button href='/tourist/search/results'id='search_logo' class="glyphicon glyphicon-search btn btn-large" aria-hidden="true" type='submit' ></button>
        </form> -->


</div>










<script>


$("#target").click(function() {

    if($(this).hasClass("Like")) {
        $(this).text("Not like to");
        $(this).removeClass("Like");
    }

    else {
        $(this).text("Like to");
        $(this).addClass("Like");
    }
});


//JavaScript function

$(document).on('click', '.drop-item', function () {
    
    if($("#shoes_menu").hasClass('active')) {
        $("#shoes_menu").html("<span id='c1' class='drop-item'>Sandals</span> &nbsp <span class='drop-item'>Regular shoes</span> &nbsp <span class='drop-item'>Gym Shoes</span> &nbsp <span class='drop-item'>Hiking Shoes</span>")
        $("#shoes_menu").children().css("border","solid 1px white");
        $("#shoes_menu").children().css("padding","5px");
        $("#shoes_menu").css("width", "500px");
        $("#shoes_menu").removeClass("active");
    }

    else {
        $
        var user_choice = $(this).html();
        var user_choice_html = "<span class='drop-item'>" + user_choice + "</span>";
        $("#shoes_menu").css("width", "");
        $("#shoes_menu").html(user_choice_html);
        $("#shoes_menu").addClass("active");
        
    }
    // your function here
});





</script>



 

{% endblock %}