<!-- TourGuide base html -->
{% load staticfiles %}
<!DOCTYPE html>





<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Venture:explore your limit</title>
        <link rel="icon" href="http://getbootstrap.com/favicon.ico"/>
        <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}" /></link>
        
    </head>

    <body>
        <!-- custom navigation bar -->
        <div class="nav_container">
            <header class="main-header">
                <a class="site-logo" href="/tourist/"> Venture </a>
            
            <ul class="nav">
                {% if not user.is_authenticated %}
                    <li><a class="nav-item" href="{% url 'registration_register' %}">Sign Up</a></li>
                    <li><a href="{% url 'auth_login' %}">Log In</a></li>
                    <!-- if user is authenticated -->
                {% else %}
                    <li><a class="nav-item" href="/tourist/search">SEARCH</a></li>
                    <li><a class="nav-item" href="/tourist/create/your_tours/">CREATE</a></li>
                    <li><a class="nav-item" href="/tourist/mypage">PROFILE</a></li>
                    <li><a class="nav-item" href="/tourist/profile">ACCOUNT</a></li>
                    <li><a class="nav-item" href="{% url 'auth_logout' %}?next=/tourist/">LOGOUT</a></li>
                {% endif %}
            </ul>
        </header>
    </div>


    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    {% block body_block %}{% endblock %}

    <footer class='main-footer'>
        
        <div id='footer-container'>
            <div class="footer-first-row">
                <ul class="footer-menu-item">
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">SEARCH</a></li>
                    <li><a href="#">CREATE</a></li>
                    <li><a href="#">PROFILE</a></li>
                    <li id="for-flush"><a href="#">ACCOUNT</a></li>
                    <li><a href="#">LOG OUT</a></li>
                </ul>
            </div>
     

            <div class="footer-second-row" width:"50%">
                <p>@2016 Venture Technologies designed by Jun Kim</p>
            </div>

            
        </div>
       
    </footer>
    
</div>

</body>
        <!-- This is javascript when button is clicked and the button will stay highlihted -->
        <script>
        // $(document).ready(function() {




        //     $(".nav-item").click(function() {
        //         $(this).addClass("active_menu");
        //         $(this).css({"color": "#0b0b0b", "border-bottom": "2px solid white"});
        //     });

        //     var menu_items = $(".nav-item");
        // });


        </script>











     <!-- Necessary Javascript, and jquery stuff -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Placed at the end of the document so the pages load faster -->
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
        <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
        <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
        <script src="http://getbootstrap.com/assets/js/vendor/holder.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>

</html>