<!-- TourGuide base html -->
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <div id="container">

    <div id="head">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Welcome to Venture!</title>
        <link rel="icon" href="http://getbootstrap.com/favicon.ico">
        <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://getbootstrap.com/examples/dashboard/dashboard.css">
        <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}" />
    </div>

    <div id="body">

        <!-- This is navigation bar code %%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
        <nav class="navbar navbar-fixed-top navbar-overlay" style="background: rgba(0,0,0,0.4)">
          <div class="container">

            <div class="navbar-header">
                <a class="navbar-brand" href="/tourist/" style="color:rgba(209,209,209,1);"><strong>Venture</strong></a>
            </div>

            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">

                <!-- This menu is for everyone -->
                {% if not user.is_authenticated %}
                <li><a href="{% url 'registration_register' %}" style="color:rgba(209,209,209,1);">Sign Up</a></li>
                <li><a href="{% url 'auth_login' %}" style="color:rgba(209,209,209,1);">Log In</a></li>
 
                <!--trying to create login popup-->
                <li><a data-toggle="modal" data-target="#loginModal" href="{% url 'auth_login' %}" style="color:rgba(209,209,209,1);">Modal</a></li>
                <div id="loginModal" class="modal fade">
                    <div>
                        <div class="modal-content"></div>
                    </div>
                </div>

                <!-- if user is authenticated -->
                {% else %}
                <li><a href="/tourist/search" style="color:rgba(209,209,209,1);">Search Tours</a><li>
                <li><a href="/tourist/create" style="color:rgba(209,209,209,1);">Create Tour</a></li>
                <li><a href="/tourist/mypage" style="color:rgba(209,209,209,1);">Profile</a></li>
                <li><a href="/tourist/profile" style="color:rgba(209,209,209,1);">Account</a></li>
                <li><a href="{% url 'auth_logout' %}?next=/tourist/" style="color:rgba(209,209,209,1);">Log Out</a></li>
                {% endif %}

              </ul>
            </div><!--/.nav-collapse -->

          </div>
        </nav>

        {% block body_block %}{% endblock %}

    </div>

    <div id="footer">
        <div class="navFooter">
            <ul class="row">
                <li><a href="">About</li>
                <li><a href="">Contact</li>
                <li><a href="">Help</li>
            </ul>
        </div>
    </div>

    </div>

     <!-- Necessary Javascript, and jquery stuff -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
        <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
        <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
        <script src="http://getbootstrap.com/assets/js/vendor/holder.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>

</html>