<!-- TourGuide base html -->
{% load staticfiles %}
<!DOCTYPE html>





<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Venture:explore your limit</title>
        <link rel="icon" href="http://getbootstrap.com/favicon.ico">
        <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://getbootstrap.com/examples/dashboard/dashboard.css">
        <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}" />
    </head>

    <body>
        <!-- custom navigation bar -->

        <nav id="navbar" class="clearfix">
            <a class="navbar-brand-j" href="/tourist/">Venture</a>
            <ul class="navbar-list_j">
                {% if not user.is_authenticated %}
                    <li><a href="{% url 'registration_register' %}">Sign Up</a></li>
                    <li><a href="{% url 'auth_login' %}">Log In</a></li>
                    <!-- if user is authenticated -->
                {% else %}
                    <li><a href="/tourist/search">SEARCH</a></li>
                    <li><a href="/tourist/create/your_tours/">CREATE</a></li>
                    <li><a href="/tourist/mypage">PROFILE</a></li>
                    <li><a href="/tourist/profile">ACCOUNT</a></li>
                    <li><a href="{% url 'auth_logout' %}?next=/tourist/">LOGOUT</a></li>
                {% endif %}
            </ul>
        </nav>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- my temporary Jquery Code lives here -->
    <script>


    </script>


    {% block body_block %}{% endblock %}

    <footer class='main-footer'>
        
        <div id='footer-container'>
                <p><strong>Venture</strong></p>
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> junhouse@umich.edu <br>
                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> +1(111)-111-1111
        </div>
       
    </footer>
    
</div>

</body>



 

     <!-- Necessary Javascript, and jquery stuff -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Placed at the end of the document so the pages load faster -->
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
        <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
        <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
        <script src="http://getbootstrap.com/assets/js/vendor/holder.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>

</html>